.container{
    border: 2px solid black;
    margin: auto;
    margin-top: auto;
    height: 80vh;
    width: 60vw;
}

.row-outer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;;
}

h1{
    text-align: center;
}
/* .row-inter{
    display: flex;
    padding: 10px;
} */


